@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  font-family: "DM Sans", sans-serif;
}
.notranslate {
  font-family: "DM Sans", sans-serif !important;
}
#root {
  margin: 0;
}
body {
  top: 0 !important;
  margin: 0;
}
select,
button,
input {
  font-family: "DM Sans", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
